.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}


/* Style the counter cards */
.card {
  margin: 15px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgb(0 0 0 / 25%), -5px -5px 30px 7px rgb(0 0 0 / 22%);
  cursor: pointer;
  transition: 0.4s;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card1-image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
  background-color: #EFD9D1;
}


.card1-text {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: 'Fredericka the Great', cursive;
  font-weight: bold;
  font-size: 30px;
  margin-top: -182px;
  height: 40px;
}


.card1-text a {
  color: white;
}
.card2-image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
  background-color: #D8AC9C;
}

.card2-text {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: 'Fredericka the Great', cursive;
  font-weight: bold;
  font-size: 30px;
  margin-top: -252px;
  height: 40px;
}

.card2-text a {
  color: white;
  font-weight: lighter;
}

.card2-text h3 {
  color: white;
  font-weight: bold;
}

.card3-image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
  background-color: #D8AC9C;
}

.card3-text {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: 'Fredericka the Great', cursive;
  font-weight: lighter;
  color: white;
  font-size: 23px;
  margin-top: -252px;
  height: 40px;
}



.card3-text h3 {
  color: white;
  font-weight: bold;
}
