.new-list-form {
  width: 380px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(16px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgb(8 7 16 / 60%);
  padding: 50px 35px;
  float: left;
}

.new-list-form h3 {
  font-size: 32px;
  font-weight: 500;
  font-family: 'Fredericka the Great', cursive;
  color: red;
  line-height: 42px;
}

.new-list-form input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  color: red;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 21px;
  font-weight: 300;
}

form * {
  font-family: 'Fredericka the Great', cursive;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.new-list-form label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  cursor: default;
  color: red;
}

.new-list-form sign-in-text {
  font-family: 'Fredericka the Great', cursive;
  font-weight: bold;
  font-size: 20px;
  color: red;
  height: 75vh;
}

.new-list-form button {
  margin-top: 35px;
  font-size: large;
}

.list-entries {
  display: flex;
  justify-content: center;
}

.list-name {
  width: 30%;
  margin: auto;
  color: red;
  /* text-align: right; */
}
