.dash-container {
  height: calc(100vh - 1px);
  width: 100%;
  background-image: url('dashgreen.jpeg');
  background-size: cover;
  position: relative;
}

.dash-welcome {
  justify-content: center;
  top: 0;
  background-color: #5F8D4E;
  justify-content: center;
  padding: 10px;
}

.dash-header {
  background-color: #5F8D4E;
  border-radius: 2px 10px;
  display: flex;
  align-items: center;
}

.dheader-text {
  font-family: 'Fredericka the Great', cursive;
  color: white;
  text-shadow: #5F8D4E;
  font-size: 25px;
  font-weight: bolder;
  text-align: left;
}

.dheader-date {
  font-family: 'Fredericka the Great', cursive;
  color: white;
  text-shadow: #5F8D4E;
  font-size: 25px;
  font-weight: bolder;
  text-align: right;
  margin-left: auto;
}

.logout input {
  position: fixed;
  bottom: 0;
  background-color: #5F8D4E;
  font-size: 35px;
}
